<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Managment System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
     
      <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
        <div class=" container">
          <a class="navbar-brand" href="{% url 'student_list' %}">Managment System </a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcontent" > 
                <span class="navbar-toggler-icon"> </span>
            </button>
        </div>
            <!-- student manu -->
        <div class="collapse navbar-collapse " id="navbarcontent">
          <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_student' %}">Add Student</a>
                    </li>
                    <!-- teacher manu --> 
                         
                    
                       <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}"> Add Teachers</a>
                       </li>
                </ul>
                <!-- ডান পাশের Auth (Login/Register/Logout) মেনু -->
    <ul class="navbar-nav ms-auto align-items-center">
        {% if user.is_authenticated %}
            <li class="nav-item me-3">
                <span class="text-warning fw-semibold">
                    Hi, {{ user.username }}
                    {% if user.profile %}
                        ({{ user.profile.role|title }})
                    {% endif %}
                </span>
            </li>
             {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-danger btn-sm text-white px-3" href="{% url 'logout' %}">Logout</a>
            </li>
               
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary btn-sm ms-2 px-3" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>

        </div>
       </nav>

       <!-- Main Content Container -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>