
{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Forget Password</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'forget_pass' %}">
        {% csrf_token %}

        <label>Email</label>
        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        >

        <br><br>

        <label>OTP</label>
        <input
            type="text"
            name="otp"
            placeholder="Enter OTP"
            required
        >

        <br><br>

        <label>New Password</label>
        <input
            type="password"
            name="new_pass"
            placeholder="Enter New Password"
            required
        >

        <br><br>

        <label>Confirm Password</label>
        <input
            type="password"
            name="conf_pass"
            placeholder="Confirm New Password"
            required
        >

        <br><br>

        <button type="submit">Change Password</button>

    </form>

    <br>

    <a href="{% url 'send_otp' %}">Send OTP</a>

</div>

{% endblock %}

